.basic-content {
    margin-top: 50px;
    margin-left: 25%;
    p {
        margin-bottom: 20px;
        font-size:24px;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:24px;
        span {
            color:grey;
        }
    }
    .el-button {
        padding: 10px 14px;
        margin-top: 20px;
        span {
            font-size: 14px;
        }
    }
}
.teaDetails-main .details-edit,.stuDetails-main .details-edit {
    .details-form {
        .el-form-item {
            width: 400px;
            margin: 20px auto;
            .el-form-item__content {
                .el-form-item__label {
                    font-size: 22px;
                }
                .el-input__inner {
                    width: 300px;
                }
            }
        }
    }
}
.see_more {
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    p {
        margin-bottom: 20px;
        font-size:24px;
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:24px;
        span {
            color:grey;
            line-height: 32px;
        }
    }
}